body {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    background: white;
    color: black;
    overflow-x: hidden;
}

#menu {
    width: 25%;
    padding-left: 2rem;
    font-size: 20px;
    font-weight: bold;
}
#menu:hover {
    color: #3498DB;
}
a {
    text-decoration: none;
    color: black;
}

h2, h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

main {
    width: 100vw;
    height: 100vw;
}

/* Header */
header {
    position: fixed;
    width: 100vw;
    z-index: 1000;
    background-color: transparent;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

header a {
    color: black;
}

header h1 {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

header h1 a {
    margin-left: 1.5rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.6px);
    -webkit-backdrop-filter: blur(9.6px);
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li a {
    position: relative;
}

header nav ul li a:hover::after {
    transform: scaleX(1);
}

/* Section Intro */
#Introduction {
    font-size: 30px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Introduction h1 {
    text-align: center;
}

#Introduction img {
    width: 200px;
    height: 255px;
    border-radius: 20%;
    margin-bottom: 20px;
}

#Introduction input[type="color"] {
    font-size: 20px;
    margin: 20px;
    text-align: center;
}

/* Section Profil */
#sectionProfil {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sectionProfil .GlassBackground {
    padding-top: 2%;
    padding-bottom: 3%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.6px);
    -webkit-backdrop-filter: blur(9.6px);
}

#sectionProfil .GlassBackground h2 {
    margin-bottom: 20px;
}

#sectionProfil .GlassBackground p {
    font-size: 20px;
    margin: 30px;
    text-align: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.skills {
    padding-right: 50px;
    width: 96px;
    height: 96px;
    display: inline-block;
}

/* Button Styles */
.btn {
    font-weight: bold;
        margin-right: 10px;
        background-color: white;
        border-radius: 25px;
        border-style: none;
        box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 14px;
        display: inline-block;
        padding: 5px 24px;
        border-radius: 5px;
        background-color: #3498DB;
        border-bottom: 5px solid #2980B9;
        transition: all 0.1s;
        padding: 10px 50px;
        font-size: 16px;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}

.btn:hover {
    background-color: #2980B9;
}

/* Section BTS SIO */
#sectionEtude {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    text-align: center;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.6px);
    -webkit-backdrop-filter: blur(9.6px);
}

#sectionEtude .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.option {
    font-size: 20px;
    border-radius: 25px;
    width: 509px;
    padding: 30px;
    margin: 20px 0px;
    text-align: start;
}
.adjust{
    font-size: 20px;
    font-weight: bold;
}


/* Section Veille */
#sectionVeille {
    width: 100vw;
    height: 100vh;
}

.section-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    margin: 50px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.6px);
    -webkit-backdrop-filter: blur(9.6px);
}

.section-container div {
    text-align: center;
    margin: 10px;
}



/* Section Projet */
#sectionProjet {
    width: 100vw;
    height: 100vh;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project {
    font-weight: bold;
    border-radius: 25px;
    width: 300px;
    padding: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.6px);
    -webkit-backdrop-filter: blur(9.6px);
}

.project img {
    max-width: 100%;
    height: auto;
}
.project img:hover {
    transform: scale(1.1);
}
/* Footer */

.titre {
    padding-top: 2rem;
    
    font-size: 60px;
}
.centre{
    margin-left: auto;
    margin-right: auto;
    width: 30%;

}
img{
    border-radius: 1rem;
}